# Core
# numpy>=1.26.0 ##overwritten in JAX install
# scipy>=1.11.0 ##overwritten in JAX install
# matplotlib>=3.8.0

# Neuroimaging stack
nibabel>=5.2.0
nilearn>=0.10.2
nltools>=0.5.0
h5py>=3.10.0
lxml>=4.9.3

# Plotting / utils
joblib>=1.3.2
contourpy>=1.2.0
kiwisolver>=1.4.5
cycler>=0.12.1
fonttools>=4.44.0
idna>=3.4
certifi>=2023.11.17
charset-normalizer>=3.3.2

# JAX + NumPyro handled separately (to circumvent default to CPU-only configuration):
# pip install -U "jax[cuda12]" -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
# pip install numpyro
